<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/dist/img/favicon.ico">

    <title>{{ page.title }} - Cracking The Code</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/blog.css">
    <link rel="stylesheet" href="/dist/css/social-buttons.css">
  </head>
  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav pull-right">
          <a class="blog-nav-item" href="https://github.com/indradhanush/indradhanush.github.io">Source</a>
        </nav>
        <nav class="blog-nav pull-right">
          <a class="blog-nav-item" href="/archives/">Archives</a>
        </nav>
        <nav class="blog-nav pull-right">
          <a class="blog-nav-item" href="/">Home</a>
        </nav>
      </div>
    </div>

    <div class="span12" style="border-right: 1px solid #ccc" ></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
    <div class="container">
      
      <div class="blog-header">
        <a href="/"><h6 class="blog-title">Cracking The Code</h6></a>
        <p class="lead blog-description">Hack to learn.</p>
      </div>
      

      <div class="row">
        <div class="col-sm-8 blog-main">

