        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <p>
              <img src="http://www.gravatar.com/avatar/0e74dfe9b92822b1371cae0f22538b2e.png">
            </p>
            <h4>About</h4>
            <p>I am currently working
            at <a href="https://www.instamojo.com/">Instamojo</a> and
            we are making it super easy to collect payments
            for your digital as well as physical goods. I have a
            profound interest in the field of Networking and Security.
            Open Source fanatic is another word that describes me.
            When not fiddling with the bits and bytes I can be found
            playing the drums.
            </p>
            <p>
              <a href="https://twitter.com/Indradhanush92" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Indradhanush92</a>

              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </p>
          </div>

          <div class="sidebar-module">
            <h4>Social</h4>
            <a href="https://github.com/indradhanush/" style="text-decoration: none ! important;">
              <button class="btn btn-github"><i class="fa fa-github"></i></button>
            </a>
            <span style="padding-right:5px"></span>

            <a href="https://twitter.com/Indradhanush92" style="text-decoration: none ! important;">
              <button class="btn btn-twitter"><i class="fa fa-twitter"></i></button>
            </a>
            <span style="padding-right:5px"></span>

            <a href="https://www.facebook.com/Indradhanush" style="text-decoration: none ! important;">
              <button class="btn btn-facebook"><i class="fa fa-facebook"></i></button>
            </a>
            <span style="padding-right:5px"></span>

            <a href="http://linkd.in/1fsBkLs" style="text-decoration: none ! important;">
            <button class="btn btn-linkedin"><i class="fa fa-linkedin"></i></button>
            </a>
            <span style="padding-right:5px"></span>
          </div>

          <div class="sidebar-module">
            <h4>Recent Posts</h4>
            <ol class="list-unstyled">
              {% for post in site.posts limit:10 %}
              <li><h6><a href="{{ post.url }}">{{post.title}}</a></h6></li>
              {% endfor %}
            </ol>
          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

